* {
  box-sizing: border-box;
  color: #333;
}

body {
  background-color: #81a69b;
  background-image: url("./images/wallpaper.jpg");
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

#top {
  display: flex;
  align-items: center;
}

#heading {
  background-image: url("./images/image-logo.png");
  filter: brightness(150%);
  width: 279px;
  height: 76px;
  overflow: hidden;
  text-indent: -9999px;
  margin: 20px auto;
}

.names {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: left;
  gap: 10%;
}

.animals {
  margin-top: 80px;
  margin-bottom: 25px;
}

.cities,
.breeds,
.cities,
.emails {
  margin-bottom: 25px;
}

input {
  height: 35px;
  width: 200px;
  border: 1px solid rgb(255, 109, 170);
  border-radius: 6px;
  box-sizing: border-box;
}

input:focus,
input:hover {
  outline: none;
  border: 2px solid rgb(255, 64, 144);
}

#submit-btn {
  background-color: rgb(255, 132, 144);
  border: 1px solid rgb(255, 109, 200);
  color: black;
  border-radius: 6px;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

#submit-btn:hover,
#submit-btn:focus {
  background-color: rgb(255, 107, 122);
  border: 1px solid rgb(255, 64, 144);
}
